# CUDA toolkit installation path
CUDA_DIR =/usr/local/cuda-9.2

# CUDA toolkit libraries
CUDA_LIB_DIR := $(CUDA_DIR)/lib
ifeq ($(shell uname -m), x86_64)
     ifeq ($(shell if test -d $(CUDA_DIR)/lib64; then echo T; else echo F; fi), T)
     	CUDA_LIB_DIR := $(CUDA_DIR)/lib64
     endif
endif

# CUDA SDK installation path
SDK_DIR = /usr/local/cuda-9.2/samples/

# OPENCL

# NVIDIA_DIR
NV_OPENCL_DIR =/usr/local/cuda-9.2
NV_OPENCL_INC = $(NV_OPENCL_DIR)/include
NV_OPENCL_LIB = $(NV_OPENCL_DIR)/lib64

# INTEL_DIR
INTEL_OPENCL_DIR = /home/users/kbitsak/opencl_icd_loader/ocl-icd
INTEL_OPENCL_INC = /home/users/kbitsak/opencl_icd_loader/ocl-icd/include
INTEL_OPENCL_LIB = /home/users/kbitsak/opencl_runtime/opencl_runtime_16.1.2_x64_rh_6.4.0.37/rpm/opt/intel/opencl-1.2-6.4.0.37/lib64


# AMD_DIR
# OPENCL_DIR = /usr/local/cuda
# OPENCL_INC = $(OPENCL_DIR)/include/ 
# OPENCL_LIB = $(OPENCL_DIR)/lib/x86_64/ -lOpenCL
#ifeq ($(shell uname -m), x86_64)
#     ifeq ($(shell if test -d $(OPENCL_DIR)/lib/x86_64/; then echo T; else echo F; fi), T)
#     	OPENCL_LIB = $(OPENCL_DIR)/lib/x86_64/
#     endif
#endif

# DEFAULT OCL
OPENCL_DIR = $(NV_OPENCL_DIR)
OPENCL_INC = $(NV_OPENCL_INC)
OPENCL_LIB = $(NV_OPENCL_LIB)
